<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Choose dates</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"/>
</head>

<body>
<div class="container">
    <div id="loginbox" style="margin-top: 50px;" class="col-md-3 col-md-offset-2 col-sm-6 col-sm-offset-2">
        <div class="card border-info">
            <div class="card-header bg-info">
                Choose Dates for rental:
            </div>
            <div th:if="${error}" class="alert alert-danger" role="alert">
                <span th:text="${error}"></span>
            </div>

            <div class="card-body">
                <div class="card-text">

                    <form action="" th:action="@{/cars/carsAvailabeToRent}" method="GET" class="form-horizontal">


                        <div style="margin-bottom: 25px;" class="input-group">
                            <div class="row">
                                <label class="form-label fw-bold">
                                    <i class="bi bi-car-front"></i> Select starting date:</label>
                            </div>
                            <div class="row">
                                <input id="start" type="date" name="start" placeholder="start date" class="form-control"
                                       required/>
                            </div>
                        </div>
                        <div style="margin-bottom: 25px;" class="input-group">
                            <div class="row">
                                <label for="end" class="form-label fw-bold">
                                    <i class="bi bi-car-front"></i> Select ending date:</label>
                            </div>
                            <div class="row">
                                <input id="end" type="date" name="end" placeholder="end date" class="form-control"
                                       required/>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary mt-3">
                                <i class="bi bi-plus-circle"></i>Find cars
                            </button>

                            <a th:href="@{/static}" class="btn btn-secondary mt-3">
                                <i class="bi bi-plus-circle"></i>Back home</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
